/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.navbar {
  border-radius: 0px;
  min-height: 60px;
  margin-bottom: 0px; }
  .navbar a {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: bold; }
  .navbar .navbar-brand {
    line-height: 0px;
    padding: 10px 0px;
    text-shadow: none; }
  .navbar .navbar-nav a {
    padding-top: 20px; }
    .navbar .navbar-nav a:hover {
      border-color: 1px solid black; }

.navbar-default {
  background-image: none;
  filter: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: white;
  border-color: white; }

.container {
  padding: 0px; }

h2 {
  color: black;
  font-size: 30px;
  font-style: bold;
  margin-top: 100px;
  margin-bottom: 30px;
  text-align: center; }

p {
  color: #777;
  font-size: 13px;
  line-height: 23px;
  margin-bottom: 30px;
  padding: 0px 150px;
  text-align: center; }

.Section_1 {
  background-image: url("../imgs/Body/Slide_Top.png");
  background-repeat: none;
  height: 750px;
  text-align: center; }
  .Section_1 .jumbotron {
    background-color: transparent;
    border-radius: 0px;
    color: inherit;
    font-family: "Pacifico", cursive;
    font-size: 100px;
    font-style: bold;
    margin-top: 90px;
    padding-top: 0px;
    padding-bottom: 0px; }
  .Section_1 p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #777;
    margin-bottom: 0px; }

.button-slide {
  border: 1px #777 solid;
  border-radius: 30px;
  color: black;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  margin: 0px 5px;
  margin-top: 20px;
  padding: 15px 35px; }
  .button-slide:hover {
    background-color: #e777;
    border: none;
    color: white;
    font-style: bold;
    text-decoration: none; }

.Section_Hello {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 70px; }

.Section-Huge-Demos {
  background-color: #f9f9f9; }
  .Section-Huge-Demos .thumbnail {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    border: none;
    padding: 0px;
    text-align: center; }
  .Section-Huge-Demos h3 {
    color: black;
    margin: 15px 0px;
    font-size: 16px;
    font-style: bold;
    text-align: center; }
  .Section-Huge-Demos p {
    padding: 0px 40px;
    margin-bottom: 25px; }
  .Section-Huge-Demos .btn-default {
    background-image: none;
    background-repeat: none;
    text-shadow: none;
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #31aae2;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    padding: 10px 35px;
    border-radius: 0px; }

.Counter {
  text-align: center;
  padding: 50px 50px; }
  .Counter .progress {
    height: 100px;
    width: 100px;
    border-radius: 50px; }
  .Counter .progress-bar {
    height: 50px;
    width: 50px;
    border-radius: 50px; }

/*# sourceMappingURL=style.css.map */
